
body, html {
  height: 100%;
}

.content {
  width: 100%;
  height: 400px;
  background-color: #000000;
}

.row .col-md-6 {
    padding:0;
}

div#left-bottom, #right-bottom {
    height: 340px;
    border-radius: 5px;
    box-shadow: 0 0 20px red;
    background: url("../img/Red-And-Black-Wallpaper.jpg") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


