<div id="bottom-banner-info">
    <div class="row">
        <img id="bottom-banner-photo" src="../img/refunds.jpg"/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bottom-banner-data">
                <p class="serif-black">{{bottomBannerDataRefunds}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bottom-banner-data">
                <p class="serif-black">{{bottomBannerDataSendEmail}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bottom-banner-data">
                <p class="serif-black">{{bottomBannerDataViewOffers}}<a href="offers.html"><b>{{bottomBannerDataViewOffersLink}}</b></p>
            </div>
        </div>
    </div>
</div>