#info {
    width: 100%;
    height: auto;
    background-color: #000000;
}

#info-right {
  height:100%;
  border-right-style: groove;
}

#info-left {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

#info-photo {
  width:70%;
  height:50%;
  border-radius:10px;
  margin-left:10%;
  margin-top:1%;
}


