<div id="footer">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <a href="https://www.facebook.com/TRIGONAKISAUTOCARE/?pnref=lhc">
                <img src="../img/facebook_icon.png" id="facebook-icon"/>
            </a>
        </div>
        <div class="col-md-1">
            <a href="">
                <img src="../img/email_icon.png" id="email-icon"/>
            </a>
        </div>
    </div>
    <p id="footerFont">{{footerCopyright}}</p>
</div>