<div id="footer">
    <div class="row">
        <div class="col-md-6">
            <a href="https://www.facebook.com/TRIGONAKISAUTOCARE/?pnref=lhc">
                <img src="../img/facebook_icon.png" id="facebook-icon"/>
            </a>
        </div>
        <div class="col-md-6">
            <a href="">
                <img src="../img/email_icon.png" id="email-icon"/>
            </a>
        </div>
    </div>
    <div id="footerImage">
        <a href="#top">
            <img src="../img/bottom-autocare-link.jpg" id="footer-autocare-logo"/>
        </a>
    </div>
   <!-- <p id="footerFont">{{footerCopyright}}</p>-->
</div>