<div id="home">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div ng-repeat="carouselSlide in carouselSlides" class="{{carouselSlide.wrapperClass}}">
            <img ng-src="{{carouselSlide.imageSrc}}" alt="{{carouselSlide.alt}}">
        </div>
    </div>

    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li ng-repeat="carouselSlide in carouselSlides" data-target="#home-carousel" data-slide-to="{{carouselSlide.slideTo}}" class="{{carouselSlide.slideClass}}"></li>
        </ol>
    </div>

</div>