<div id="info">
    <div class="row">
        <div class="col-md-6">
            <div id="info-right">
                <img id="info-photo" src="../img/info-photo.jpg"/>
            </div>
        </div>
        <div class="col-md-6">
            <div id="info-left">
                <h1>Ποιοί είμαστε...</h1>
                <p>&nbsp;</p>
                <p class="serif">Η επιχείρηση μας δραστηριοποιείται στον χώρο τής επισκευής του αυτοκινήτου για 30 σχεδόν χρόνια.
                    Συνεπώς, η εμπειρία μας στον χώρο αυτό είναι μεγάλη και εμπνέει εμπιστοσύνη και σιγουριά στους πελάτες μας.
                    Δουλεύουμε σταθερά και μεθοδικά με στόχο το καλύτερο δυνατό αποτέλεσμα και σκεπτόμενοι πάντοτε το συμφέρον σας.
                    Γι' αυτό προσφέρουμε μια σειρά από υπηρεσίες που θα κάνουν την ζωή σας ευκολότερη. </p>
                <p class="serif">-Αν χρειαστεί, παραλαμβάνουμε από τον χώρο σας και επιστρέφουμε το προς επισκευή όχημά σας χωρίς εσείς να επιβαρυνθείτε με καμία μεταφορά. </p>
                <p class="serif">-Έχουμε μια σειρά από άκρως ενδιαφέρουσες προσφορές σκεπτόμενοι την τσέπη σας.</p>
                <p class="serif">-Σας δίνουμε την δυνατότητα να επικοινωνήσετε μαζί μας μέσω email για μια πιο ακριβή εκτίμηση της ζημίας του αυτοκινήτου.</p>
            </div>
        </div>
    </div>

</div>