<div id="info">
    <div class="row">
        <div class="col-md-6">
            <div id="info-right">
                <img id="info-photo" src="../img/info-photo.jpg"/>
            </div>
        </div>
        <div class="col-md-6">
            <div id="info-left">
                <h1>{{informationPageHeader}}</h1>
                <p>&nbsp;</p>
                <p class="serif">{{informationMain}}</p>
                <p class="serif">{{informationCar}}</p>
                <p class="serif">{{informationOffers}}</p>
                <p class="serif">{{informationSendEmail}}</p>
            </div>
        </div>
    </div>

</div>