<div ng-controller="ServicesController as services">
    <div class="row">
        <div class="col-md-6">
            <div class="services-left" ng-include="'partials/paintingCarousel.html'">

            </div>
        </div>
        <div class="col-md-6">
            <div class="services-right">
                <h1>{{servicePaintHeader}}</h1>
                <p></p>
                <p class="serif">{{servicePaintContent}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="services-left" ng-include="'partials/polishingCarousel.html'">

            </div>
        </div>
        <div class="col-md-6">
            <div class="services-right">
                <h1>{{servicePolishingHeader}}</h1>
                <p></p>
                <p class="serif">{{servicePolishingContent}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="services-left" ng-include="'partials/cleaningCarousel.html'">

            </div>
        </div>
        <div class="col-md-6">
            <div class="services-right">
                <h1>{{serviceLightCleaningHeader}}</h1>
                <p></p>
                <p class="serif">{{serviceLightCleaningContent}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="services-left" ng-include="'partials/rimsCarousel.html'">

            </div>
        </div>
        <div class="col-md-6">
            <div class="services-right">
                <h1>{{serviceLightRimPaintHeader}}</h1>
                <p></p>
                <p class="serif">{{serviceLightRimPaintContent}}</p>
            </div>
        </div>
    </div>
</div>